{% extends 'base.html' %}
{% load static %}
{% block body %}

<div dir="rtl">
    <div class="container" style="margin-top: 10rem;">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ doctor.name }}</h2>
                        <h6 class="card-subtitle mb-2 text-muted">{{ doctor.specialty }}</h6>
                        <div class="mt-4">
                            <p><i class="fas fa-briefcase-medical"></i> متخصص في <span style="color: blue;">{{ doctor.specialty }}</span></p>
                            <p><i class="fa fa-map-marker"></i> العنوان: {{ doctor.address }}</p>
                            <p><i class="fa fa-money"></i> سعر الكشف: <span style="color: blue;">{{ doctor.price }}</span> جنية</p>
                            <p><i class="fa fa-clock-o"></i> مدة الانتظار: <span style="color: blue;">{{ doctor.waiting_time }}</span> ساعة</p>
                            <p><i class="fa fa-clock-o"></i> عدد ساعات العمل: <span style="color: blue;">{{ doctor.working_hours }}</span> ساعة</p>
                            <p><i class="fa fa-phone"></i> رقم الهاتف: <span style="color: blue;">{{ doctor.phone_number }}</span></p>
                        </div>
                        <div class="rating mt-4">
                            <div class="text-warning">
                                {% for _ in "12345" %}
                                <i class="fa fa-star"></i>
                                {% endfor %}
                            </div>
                            <div class="rating">
                                <h5>تقييم الدكتور: {{ doctor.rating }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ doctor.image.url }}" alt="{{ doctor.name }}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}