{% load static %}
<div class="header-area ">
    <div id="sticky-header" class="main-header-area">
        <div class="container-fluid " style="background-color: rgba(0, 29, 56, 0.8);" >
            <div class="header_bottom_border">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'doctor:doctor' %}">احجز دكتورك</a></li>|
                                    <li><a href="{% url 'blog:blog' %}">المقالات</a></li>|
                                    <li><a href="{% url 'accounts:profile' %}">الصفحه الشخصيه </a></li>|
                                    <li><a href="contact.html">اتصل بنا</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="Appointment">
                            
                            <div class="phone_num d-none d-xl-block"></div>
                            <div class="d-none d-lg-block">
                                <a class="boxed-btn3" href="">قدم نفسك</a>
                            </div>
                            
                            <div class="phone_num d-none d-xl-block">
                                <!-- Link to the login page -->
                                <a class="boxed-btn3" href="{% url 'accounts:login' %}">سجل الدخول</a>
                            </div>
                            <div class="d-none d-lg-block">
                                <!-- Link to the signup page -->
                                <a class="boxed-btn3" style="background-color: crimson;" href="{% url 'accounts:signup' %}">التسجيل</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>